<a href="https://colab.research.google.com/github/flaviare1s/python-bootcamp-analise-dados-soulcode/blob/main/Aula1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python - Aula 1

## Utilizando o Google Colab

### Print

In [1]:
# prompt: print('Hello, World')

print('Hello, World')

Hello, World

### Comentários

In [4]:
'''
Isso é um comentário para mais de uma linha em Python
'''
#Comentário de uma linha

print('Teste!')

Teste!

###Variáveis

In [6]:
nome = 'Stefane'
print(nome)
type(nome)

Stefane

str

#### Tipos de variáveis

- String str
- Int
- Float
- Boolean

##### Exercício

Atribua e imprima as variáveis nome, idade e altura.

In [9]:
nome='Flávia'
idade=42
altura=1.65

print(f'Meu nome é {nome}, tenho {idade} anos e {altura}m de altura.')

Meu nome é Flávia, tenho 42 anos e 1.65m de altura.

#### Tipo Complexo

In [20]:
num_complex = 4j
print(num_complex)
type(num_complex)

4j

complex

### Conversão de tipos de dados

In [14]:
num= '30'
type(num)

num = int(num)
type(num)

num = float(num)
type(num)
print(num)

30.0

In [22]:
x = int(input('Digite um número'))
print(x)
type(x)

Digite um número10
10

int

### Operadores matemáticos

In [19]:
soma = 10+10
print(soma)

subtracao = 10-5
print(subtracao)

multiplicacao = 10*10
print(multiplicacao)

divisao = 10/3
print(divisao)

resto = 10%3
print(resto)

div_inteira = 10//3
print(div_inteira)

potencia = 10**3
print(potencia)

20
5
100
3.3333333333333335
1
3
1000

### Operadores de comparação

In [21]:
igual = (10 == 10)
print(igual)

diferente = (10 != 10)
print(diferente)

maior = (10 > 10)
print(maior)

menor = (10 < 10)
print(menor)

maior_igual = (10 >= 10)
print(maior_igual)

menor_igual = (10 <= 10)
print(menor_igual)

True
False
False
False
True
True

Exercício:
Peça para o usuário inserir dois números, faça todas as operações matemáticas e compare-os:

In [27]:
n1 = int(input('Digite um número '))
n2 = int(input('Digite outro número 2'))

print(f'soma: {n1+n2}')
print(f'subtração: {n1-n2}')
print(f'multiplicação: {n1*n2}')
print(f'divisão: {n1/n2}')
print(f'resto: {n1%n2}')
print(f'divisão inteira: {n1//n2}')
print(f'potencia: {n1**n2}')

print(n1 == n2)
print(n1 != n2)
print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)

Digite um número 2
Digite outro número 23
soma: 5
subtração: -1
multiplicação: 6
divisão: 0.6666666666666666
resto: 2
divisão inteira: 0
potencia: 8
False
True
False
True
False
True